
*.m4

stamp-h1

missing

Makefile.in

Makefile

ltmain.sh

libtool

autom4te.cache

compile

config.guess

config.h

config.h.in

config.h.in~

*.log

config.status

config.sub

configure

depcomp

install-sh

liboogo/.deps

liboogo/.libs

*.o

*.lo

*.la
